{% extends 'authentication/base.html' %}

{% block body %}
<div class="container mt-3" style="width: 25rem">
    <div class="card border-secondary">
        <div class="card-header" style="text-align: center">
            <h4>Sign Up</h4>
    {% if form.errors %}
        <ul class="list-group">
            {% for field, errors in form.errors.items %}
                {% for error in errors %}
                    <li class="list-group-item list-group-item-danger">{{error}}</li>
                {% endfor %}
            {% endfor %}
        </ul>
    {% endif %}
        </div>
        <div class="card-body mx-auto">
            <form method="POST">
                {% csrf_token %}
                <div class="container">
                    {% for field in form %}
                    <div class="form-group mb-2">       
                        {% if field.name == 'username' %}
                            Choose your username
                        {% endif %}                 
                        {% if field.name == 'password1' %}
                            Create your password
                        {% endif %}
                        {% if field.name == 'password2' %}
                            Confirm your password
                        {% endif %}
                        {% if field.name == 'first_name' %}
                            First name
                        {% endif %}
                        {% if field.name == 'last_name' %}
                            Last name
                        {% endif %}
                        {% if field.name == 'email' %}
                            Email
                        {% endif %}
                        {% if field.name == 'birthday' %}
                            Date of birth (MM/DD/YY)
                        {% endif %}
                        <br>
                        {{ field }}
                    </div>
                    {% endfor %}
                    <input class="btn btn-primary" type="submit" value="Sign Up">
                    <a href="{% url 'authentication:login' %}" class="btn btn-secondary" tabindex="-1" role="button" aria-disabled="true">Back to log In</a>
                </div> 
            </form>
        </div>
    </div>
</div>

{% endblock %}