{% extends 'main/base.html' %}

{% block body %}
<div class="container mt-2" style="width: 40rem">
    <div class="card border-secondary">
        <div class="card-header" style="text-align: center">
            <h4>Sign Up</h4>
    {% if form.errors %}
        <ul class="list-group">
            {% for field, errors in form.errors.items %}
                {% for error in errors %}
                    <li class="list-group-item list-group-item-danger">{{error}}</li>
                {% endfor %}
            {% endfor %}
        </ul>
    {% endif %}
        </div>
        <div class="card-body mx-auto pb-2 pt-2">
            <form method="POST">
                {% csrf_token %}
                <div class="container">
                    {% for field in form %}
                    <div class="form-group mb-2">       
                        <label for="{{ field.name }}" class="form-label mt-0 mb-0">{{ field.label }}</label>
                        {{ field }}
                    </div>
                    {% endfor %}
                    <div class="mt-3">
                        <input class="btn btn-primary" type="submit" value="Sign Up">
                        <a href="{% url 'authentication:login' %}" class="btn btn-secondary" tabindex="-1" role="button" aria-disabled="true">Back to log In</a>
                    </div>
                </div> 
            </form>
        </div>
    </div>
</div>
{% endblock %}