{% extends 'main/base.html' %}
{% block body %}
<div class="container mt-2 form-content" style="width: 60%;">
    <!-- A Header, that countains potential errors -->
    <div class="card border-secondary">
        <div class="card-header" style="text-align: center">
        <h4 class="mb-0">{% if form.instance.id %}Edit{% else %}Add{% endif %} an assignment</h4>
        {% if form.errors %}
            <ul class="list-group">
                {% for field, errors in form.errors.items %}
                    {% for error in errors %}
                        <li class="list-group-item list-group-item-danger">{{error}}</li>
                    {% endfor %}
                {% endfor %}
            </ul>
        {% endif %}
    </div>
    <!-- An actual form is here -->
    <form method="POST">
        {% csrf_token %}
        <div class="container mx-auto" style="width: 80%">
            <div class="column">
                {% for field in form %}
                    <div class="row g-0">
                        <label for="{{ field.name }}" class="form-label mt-1 mb-1">{{ field.label }}</label>
                        <br>
                        {{ field }}
                    </div>
                {% endfor %}
                <div class="mt-2 mb-2">
                    {% if form.instance.id %}
                        {# confirmation modal #}
                        <button type="button" class="btn btn-primary" data-bs-toggle="modal" data-bs-target="#confirmationModal">
                            Submit
                        </button>

                        <div class="modal fade" id="confirmationModal" tabindex="-1" aria-hidden="true">
                            <div class="modal-dialog">
                                <div class="modal-content">
                                    <div class="modal-header">
                                        <h4 class="modal-title fs-5" id="exampleModalLabel">Are you sure you want to edit this Assignment?</h4>
                                        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                                    </div>
                                    <div class="modal-body">
                                        This action cannot be undone, and may result in other changes that are not desired.<br><br>
                                        If you change the possible points, all student submissions for this assignment will be <span class="text-warning fw-bold">ungraded.</span><br><br>
                                        If you change the assignment type, all student submissions for this assignment will be <span class="text-danger fw-bold">deleted.</span>
                                    </div>
                                    <div class="modal-footer">
                                        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
                                        <input class="btn btn-danger" type="submit" value="Save changes">
                                    </div>
                                </div>
                            </div>
                        </div>
                    {% else %}
                        <input class="btn btn-primary" type="submit" value="Submit">
                    {% endif %}

                    <a class="btn btn-dark" href="{% url 'course_management:coursePage' course.id %}" role="button">Cancel</a>
                </div>
            </div>
        </div>
    </form>
    </div>
</div>
{% endblock %}