{% extends 'course_management/course_base.html' %}
{% block content %}
    <h1 class="display-6 text-center">Assignment Submission</h1>

    <div class="card mt-4">
        <h5 class="card-header text-center">{{ assignment.title }}</h5>
        <div class="card-body">{{ assignment.description }}</div>
        <form method="POST" enctype="multipart/form-data">{% csrf_token %}
            <div class="card-body">
                {% for item in form %}
                    <h6 class="card-title">{{ item.label }}:</h6>
                    <div class="card-text">{{ item }}</div>
                {% endfor %}
            </div>
            <div class="card-body">
                <div class="btn-group">
                    <button type="submit" class="btn btn-primary">Submit</button>
                    <button type="reset" class="btn btn-dark">Reset</button>
                </div>
            </div>
        </form>
        <div class="card-body text-center">
            <a href="{% url 'course_management:coursePage' course.id %}">Back to assignment page</a>
        </div>
        <div class="card-footer text-muted text-center">Due {{ assignment.due_date }}</div>
    </div>

{% endblock %}