{% extends 'course_management/course_base.html' %}
{% block content %}
    <div class="container">
        <div class="row">
            <div class="col text-center">
                <h1 class="display-6 text-center">{{ assignment.title }}</h1>
                <p class="text-center small">Due {{ assignment.due_date }}</p>
                {% if not submission %}
                    <a href="{% url 'course_management:assignmentSubmission' course.id assignment.id %}" class="btn btn-outline-primary mb-3" role="button">Start Assignment</a>
                {% else %}
                    {% if submission.score %}
                        <p class="text-center">Grade: {{ submission.score }}/{{assignment.points}}</p>
                    {% else %}
                        <p class="text-center">Submitted</p>
                    {% endif %}
                {% endif %}
            </div>
        </div>
    </div>
    <div class="accordion" id="studentAssignmentPanel">
        <!-- Assignment Details Section -->
        <div class="accordion-item">
            <h2 class="accordion-header" id="assignmentHeader">
                <button class="accordion-button" type="button" data-bs-toggle="collapse" data-bs-target="#collapseAssignment" aria-expanded="true" aria-controls="#collapseAssignment">
                    <h4 class="m-0">Assignment Details</h4>
                </button>
            </h2>
            <div id="collapseAssignment" class="accordion-collapse show" aria-labelledby="assignmentHeader">
                <div class="accordion-body m-1">
                    {{ assignment.description }}
                </div>
            </div>
        </div>
        <!-- Student Submission Section -->
        <div class="accordion-item">
            <h2 class="accordion-header" id="gradeHeader">
                <button class="accordion-button" type="button" data-bs-toggle="collapse" data-bs-target="#collapseGrade" aria-expanded="true" aria-controls="#collapseGrade">
                    <h4 class="m-0">Submission</h4>
                </button>
            </h2>
            <div id="collapseGrade" class="accordion-collapse show" aria-labelledby="gradeHeader">
                <div class="accordion-body m-1">
                    <p class="small ms-1">Submitted {{ submission.submitted_at }}</p>
                    <div class="container border p-2">
                        {% if type == 'text' %}
                            {{ submission.text }}
                        {% else %}
                            <a href="{{ submission.file.url }}" style="text-decoration: none;" download>
                                Download Submission
                                {# download icon from https://icons.getbootstrap.com/icons/download/ #}
                                <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-download" viewBox="0 0 16 16">
                                <path d="M.5 9.9a.5.5 0 0 1 .5.5v2.5a1 1 0 0 0 1 1h12a1 1 0 0 0 1-1v-2.5a.5.5 0 0 1 1 0v2.5a2 2 0 0 1-2 2H2a2 2 0 0 1-2-2v-2.5a.5.5 0 0 1 .5-.5z"/>
                                <path d="M7.646 11.854a.5.5 0 0 0 .708 0l3-3a.5.5 0 0 0-.708-.708L8.5 10.293V1.5a.5.5 0 0 0-1 0v8.793L5.354 8.146a.5.5 0 1 0-.708.708l3 3z"/>
                                </svg>
                            </a>
                        {% endif %}
                    </div>
                    <a href="{% url 'course_management:assignmentSubmission' course.id assignment.id %}" class="btn btn-outline-primary my-3 text-center" role="button">Resubmit Assignment</a>
                </div>
            </div>
        </div>
        <!-- Student Grade Section -->
        <div class="accordion-item">
            <h2 class="accordion-header" id="submissionHeader">
                <button class="accordion-button" type="button" data-bs-toggle="collapse" data-bs-target="#collapseSubmission" aria-expanded="true" aria-controls="#collapseSubmission">
                    <h4 class="m-0">Grade & Performance</h4>
                </button>
            </h2>
            <div id="collapseSubmission" class="accordion-collapse show" aria-labelledby="submissionHeader">
                <div class="accordion-body m-1">
                    TODO
                </div>
            </div>
        </div>
    </div>
{% endblock %}