{% extends 'main/base.html' %}
{% load auth_utils %}
{% block body %}
    <div class="row mt-4">
        {# display course information in leftmost 1/4th of page #}
        <div class="col-md-3" style="border-right: 1px solid lightgrey;">
            <ul class="list-group list-group-flush">
                <li class="list-group-item">
                    <h1 class="display-6 text-center">{{ course.department }} {{ course.course_num }}</h1>
                    <p class="lead text-center">{{ course.course_name }}</p>
                </li>
                <li class="list-group-item">
                    <p class="h6 text-center">{{ course.instructor.first_name }} {{ course.instructor.last_name }}</p>
                </li>
                <li class="list-group-item">
                    <p class="h6 text-center">{{ course.getFormattedCourseDays }} {{ course.meeting_start_time }} - {{ course.meeting_end_time }}</p>
                </li>
                <li class="list-group-item">
                    <p class="h6 text-center">{{ course.meeting_location }}</p>
                </li>
            </ul>
        </div>
        <div class="col-md-9">
            {# display all other content in rightmost 3/4ths of page #}
            {% block content %}
            {% endblock %}
        </div>
    </div>
{% endblock %}
