{% extends 'course_management/course_base.html' %}
{% load auth_utils %}
{% block content %}
    {% if request.user|has_group:"Student" %}
        <div class="accordion" id="studentCoursePanel">
          <div class="accordion-item">
            <h2 class="accordion-header" id="assignmentListHeader">
              <button class="accordion-button" type="button" data-bs-toggle="collapse" data-bs-target="#collapseAssignmentList" aria-expanded="true" aria-controls="collapseAssignmentList">
                Assignments
              </button>
            </h2>
            <div id="collapseAssignmentList" class="accordion-collapse collapse show" aria-labelledby="assignmentListHeader">
              <div class="accordion-body">

                  {% if assignment_list %}
                    <ul class="list-group">
                        {% for assignment in assignment_list %}
                            <li class="list-group-item">
                                <div class="row">
                                    <div class="mt-2 col-4"><div class="h5">{{ assignment.info.title }}</div></div>
                                    <div class="mt-2 col-4 text-center">Due {{ assignment.info.due_date }}</div>

                                    {# student can start the assignment or edit their submission #}
                                    <div class="mt-2 col-2">
                                        {% if assignment.meta.submitted %}
                                            <span class="badge bg-success">Submitted</span>
                                            {% if assignment.meta.score is None %}
                                                <span class="badge bg-secondary">Pending grade</span>
                                            {% else %}
                                                <span class="badge bg-info">Graded: {{assignment.meta.score}}/{{assignment.info.points}}</span>
                                            {% endif %}
                                        {% endif %}
                                        {% if assignment.meta.late %}
                                            <span class="badge bg-danger">Late!</span>
                                        {% endif %}
                                    </div>
                                    <div class="mt-1 col-2">
                                        <div class="text-center">
                                            <div class="btn-group  btn-group-sm text-center">
                                                <a href="{% url 'course_management:assignmentView' course.id assignment.info.id %}" class="btn btn-outline-primary" role="button">View</a>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </li>
                        {% endfor %}
                    </ul>
                {# display if there are no assignments #}
                {% else %}
                <div class="alert alert-primary mt-2" role="alert" >
                    You don't have any assignments.
                </div>
                {% endif %}
                <div>{{ letterGrade }}</div>
                <div>{{ percentGrade }}</div>
              </div>
            </div>
          </div>
          <div class="accordion-item">
            <h2 class="accordion-header" id="studentGraphHeader">
              <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#collapseStudentGraph" aria-expanded="false" aria-controls="collapseStudentGraph">
                Student Course Performance
              </button>
            </h2>
            <div id="collapseStudentGraph" class="accordion-collapse collapse" aria-labelledby="studentGraphHeader">
              <div class="accordion-body">
                <strong>This is the second item's accordion body.</strong> It is hidden by default, until the collapse plugin adds the appropriate classes that we use to style each element. These classes control the overall appearance, as well as the showing and hiding via CSS transitions. You can modify any of this with custom CSS or overriding our default variables. It's also worth noting that just about any HTML can go within the <code>.accordion-body</code>, though the transition does limit overflow.
              </div>
            </div>
          </div>
        </div>
    {% else %}





    <h1 class="display-6 text-center">Assignments</h1>
        {% if assignment_list %}
            <ul class="list-group">
                {% for assignment in assignment_list %}
                    <li class="list-group-item">
                        <div class="row">
                        <div class="mt-2 col-4"><div class="h5">{{ assignment.info.title }}</div></div>
                        <div class="mt-2 col-4 text-center">Due {{ assignment.info.due_date }}</div>
                        {# instructor can view all assignment submissions, edit assignment itself, and delete assignment #}
                            <div class="mt-1 col-4">
                                <div class="text-center">
                                    <div class="btn-group  btn-group-sm text-center">
                                        <a href="{% url 'course_management:submission_list' assignment.info.id %}" class="btn btn-outline-primary" tabindex="-1" role="button" aria-disabled="true">Submissions</a>
                                        <a href="#" class="btn btn-outline-secondary" tabindex="-1" role="button" aria-disabled="true">Edit</a>
                                        <a href="#" class="btn btn-outline-danger" tabindex="-1" role="button" aria-disabled="true">Delete</a>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </li>
                {% endfor %}
            </ul>
        {# display if there are no assignments #}
        {% else %}
        <div class="alert alert-primary mt-2" role="alert" >
            You don't have any assignments.
        </div>
        {% endif %}
        <div>{{ letterGrade }}</div>
        <div>{{ percentGrade }}</div>
        {# only instructor can create assignments #}
        {% if request.user|has_group:"Instructor" %}
            <div class="text-center"><a class="btn btn-dark mt-2" href="{% url 'course_management:addAssignment' course.id %}" role="button">Add Assignment</a></div>
        {% endif %}
    {% endif %}
{% endblock %}