{% extends 'main/base.html' %}
{% block head %}
    <script>
        function getAllUnregCourseElements()
        {
            return document.querySelectorAll("[data-course-id]");
        }
        function getCourseElementById(id)
        {
            return document.querySelector(`[data-course-id="${id}"]`)
        }


        function switchCourseSearchView(id)
        {
            document.getElementById("courses-loading-alert").classList.add("hidden");
            document.getElementById("courses-failed-alert").classList.add("hidden");
            document.getElementById("course-search-controls").classList.add("hidden");
            document.getElementById(id).classList.remove("hidden");
        }

        

        registerLoadFunction(()=>{
            var courses = [];
            var filtered_courses = [];
            var searchedCourseName = "";
            var searchedDepartment = "";
            var searchedInstructorId = -1;
            var searchedMinHours = 0;
            var searchedMaxHours = 120;

            function getCourseList()
            {
                let REQUEST_URL = new URL('data', location.origin);
                REQUEST_URL.search = new URLSearchParams({command: 'get_all', item_type: 'course'});

                let search_failed = false;

                fetch(REQUEST_URL).then(
                    response => {
                        if(response.ok)
                        {
                            switchCourseSearchView("course-search-controls");
                        }
                        else
                        {
                            switchCourseSearchView("courses-failed-alert");
                            document.getElementById("init-fail-info").innerText = "The server sent an unexpected response.";
                            search_failed = true;
                        }
                        return response.json();
                    }
                ).then(
                    data => {
                        if(search_failed)
                        {
                            document.getElementById("init-fail-info").innerText = "The initializtion failed with a returned message of \""+data.message+"\".";
                        }
                        else
                        {
                            courses = data.items.filter(course => getCourseElementById(course.id));
                            filtered_courses = courses;
                        }
                    }
                );
            }

            function filterCourseName(str)
            {
                return str.toLowerCase().replace(/[^a-z]*/g, "")
            }

            function filterCourses()
            {
                filtered_courses = courses.filter(course => {
                    if(searchedDepartment && searchedDepartment.toUpperCase() != course.department.toUpperCase())
                        return false;
                    if(searchedInstructorId != -1 && searchedInstructorId != course.instructor)
                        return false;
                    if(searchedMinHours > course.credit_hours)
                        return false;
                    if(searchedMaxHours < course.credit_hours)
                        return false;
                    if(!filterCourseName(course.course_name).includes(filterCourseName(searchedCourseName)))
                        return false;
                    return true;
                });

                for(let course of courses)
                {
                    getCourseElementById(course.id).classList.add("hidden");
                }
                for(let course of filtered_courses)
                {
                    getCourseElementById(course.id).classList.remove("hidden");
                }
            }

            getCourseList();

            document.getElementById("search-course-name").onchange = (event)=>{
                searchedCourseName = event.srcElement.value;
                filterCourses();
            };
            document.getElementById("search-dep-code").onchange = (event)=>{
                searchedDepartment = event.srcElement.value;
                filterCourses();
            };
            document.getElementById("search-instructor").onchange = (event)=>{
                searchedInstructorId = event.srcElement.value;
                filterCourses();
            };
            document.getElementById("search-hours-min").onchange = (event)=>{
                searchedMinHours = event.srcElement.value;
                filterCourses();
            };
            document.getElementById("search-hours-max").onchange = (event)=>{
                searchedMaxHours = event.srcElement.value;
                filterCourses();
            };


        });
    </script>

    <style>
        .hidden
        {
            display: none;
        }
    </style>
{% endblock %}
{% block body %}
<div class="container-fluid mt-2" style="width: 80%">
    <h2>Your Courses</h2>
    {% if my_course_list %}
        <div class="accordion" id="courseAccordion">
            {% for course in my_course_list %}
            <div class="accordion-item">
                <h2 class="accordion-header" id="heading{{course.id}}">
                  <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#collapse{{course.id}}" aria-expanded="true" aria-controls="collapse{{course.id}}">
                    {{ course.department }} {{ course.course_num }}  {{ course.course_name }}
                  </button>
                </h2>
                <div id="collapse{{course.id}}" class="accordion-collapse collapse" aria-labelledby="heading{{course.id}}">
                  <div class="accordion-body">
                    <ul class="list-group list-group-flush">
                        <li class="list-group-item">
                            <strong>Instructor: </strong> {{course.instructor.first_name}} {{course.instructor.last_name}} <br>
                        </li>
                        <li class="list-group-item">
                            <strong>Meeting days: </strong> {{course.getFormattedCourseDays}}
                        </li>
                        <li class="list-group-item">
                            <strong>Meeting times: </strong> {{course.meeting_start_time}} - {{course.meeting_end_time}}
                        </li>
                        <li class="list-group-item">
                            <strong>Location: </strong> {{course.meeting_location}}
                        </li>
                        <li class="list-group-item">
                            <strong>Credit hours: </strong> {{course.credit_hours}}
                        </li>
                    </ul>
                    <a href="{% url 'course_management:coursePage' course.id %}" class="btn btn-primary" tabindex="-1" role="button" aria-disabled="true">Go to course</a>
                    <a href="#" class="btn btn-danger" tabindex="-1" role="button" aria-disabled="true" data-bs-toggle="modal" data-bs-target="#confirmModal" data-bs-type = "drop" data-bs-name = "{{ course.course_num }}  {{ course.course_name }}" data-bs-id="{{course.id}}">Drop</a>
                  </div>
                </div>
            </div>
            {% endfor %}
        </div>
    {% else %}
        <div class="alert alert-primary mt-2" role="alert" >
            You are not registered for any courses.
        </div>
    {% endif %} 
    <h2 class="mt-3">Courses Offered</h2>
        {% if all_course_list %}

        <div class="accordion" id="search-accordion">
            <div class="accordion-item">
                <h2 class="accordion-header" id="heading-search">
                    <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#collapse-search" aria-expanded="true" aria-controls="collapse-search">Search Courses</button>
                </h2>
                <div id="collapse-search" class="accordion-collapse collapse" aria-labelledby="heading-search">
                    <div class="accordion-body">
                        <div id="courses-loading-alert" class="alert alert-warning">
                            <p>Please wait while the search functionality initializes...</p>
                        </div>
                        <div id="courses-failed-alert" class="alert alert-danger hidden">
                            <p>Course search failed to initialize!</p>
                            <p id="init-fail-info"></p>
                        </div>
                        <div id="course-search-controls">
                            <label for="search-desc">Course name</label> <input id="search-course-name">
                            <br>
                            <label for="search-dep-code">Department code</label> <input id="search-dep-code">
                            <br>
                            <label for="search-instructor">Taught by</label>
                            <select id="search-instructor">
                                <option value="-1">Any</option>
                                {% for instructor in all_instructors_list %}
                                <option value="{{instructor.id}}">{{instructor.first_name}} {{instructor.last_name}}</option>
                                {% endfor %}
                            </select>
                            <br>
                            <label>Credit hours</label>
                            <label for="search-hours-min">from</label>
                            <input id="search-hours-min" type="number" min="0" max="120" value="0"> 
                            <label for="search-hours-max">to</label>
                            <input id="search-hours-max" type="number" min="0" max="120" value="120"> 
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <hr>

        <div class="accordion" id="courseAccordion">
            {% for course in all_course_list %}
            <div class="accordion-item" data-course-id="{{course.id}}">
                <h2 class="accordion-header" id="heading{{course.id}}">
                  <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#collapse{{course.id}}" aria-expanded="true" aria-controls="collapse{{course.id}}">
                    {{ course.department }} {{ course.course_num }}  {{ course.course_name }}
                  </button>
                </h2>
                <div id="collapse{{course.id}}" class="accordion-collapse collapse" aria-labelledby="heading{{course.id}}">
                  <div class="accordion-body">
                    <ul class="list-group list-group-flush">
                        <li class="list-group-item">
                            <strong>Instructor: </strong> {{course.instructor.first_name}} {{course.instructor.last_name}} <br>
                        </li>
                        <li class="list-group-item">
                            <strong>Meeting days: </strong> {{course.getFormattedCourseDays}}
                        </li>
                        <li class="list-group-item">
                            <strong>Meeting times: </strong> {{course.meeting_start_time}} - {{course.meeting_end_time}}
                        </li>
                        <li class="list-group-item">
                            <strong>Location: </strong> {{course.meeting_location}}
                        </li>
                        <li class="list-group-item">
                            <strong>Credit hours: </strong> {{course.credit_hours}}
                        </li>
                    </ul>
                    <a href="#" class="btn btn-success" tabindex="-1" role="button" aria-disabled="true" data-bs-toggle="modal" data-bs-target="#confirmModal" data-bs-type = "register" data-bs-name = "{{ course.course_num }}  {{ course.course_name }}" data-bs-id="{{course.id}}">Register</a>
                  </div>
                </div>
            </div>
            {% endfor %}
        </div>
    {% else %}
        {% if my_course_list %}
        <div class="alert alert-primary mt-2" role="alert" >
            There are no other courses offered at this moment.
        </div>
        {% else %}
        <div class="alert alert-primary mt-2" role="alert" >
            There are no courses offered at this moment.
        </div>
        {% endif %} 
    {% endif %} 
</div>


<!--  Modal attatched -->
<div class="modal fade" id="confirmModal" tabindex="-1" aria-labelledby="modalLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
            <h1 class="modal-title fs-5" id="modalLabel">Title</h1>
            <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
                <!-- <p>Are you sure you want to drop this course?</p> -->
            </div>
            <div class="modal-footer">
            <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
            <a href="#" class="btn addHref" tabindex="-1" role="button" aria-disabled="true" data-bs-target="#confirmModal">Placeholder</a>
            </div>
        </div>
    </div>
</div>

<script>
    const confirmModal = document.getElementById('confirmModal')
    confirmModal.addEventListener('show.bs.modal', event => {
    // Button that triggered the modal
    const button = event.relatedTarget

    // There are two types of possible modals: one for dropping a course, one for registering for a course
    const typeOf = button.getAttribute('data-bs-type')

    // Extract info from data-bs-* attributes
    const ID = button.getAttribute('data-bs-id')
    const Name = button.getAttribute('data-bs-name')

    // Get the modal's content we want to dynamically update
    const lbl = confirmModal.querySelector('#modalLabel')
    const btn = confirmModal.querySelector('.addHref')
    const modalBody = confirmModal.querySelector('.modal-body')

    // Update the title 
    lbl.textContent = Name
    
    // Now, add the correct link to a correct modal
    if (typeOf == "drop")
    {
        // Update the inner text
        modalBody.textContent = 'Are you sure you want to drop this course?'
        // Display a correct button
        btn.href = 'drop/'.concat(ID)
        btn.classList.add('btn-danger')
        btn.textContent = 'Drop'
    }
    if (typeOf == "register")
    {
        // Update the inner text
        modalBody.textContent = 'Are you sure you want to register for this course?'
        btn.href = 'register/'.concat(ID)
        btn.classList.add('btn-success')
        btn.textContent = 'Register'
    }
})


</script>
{% endblock %}

<!-- set django variables -->