{% extends 'course_management/course_base.html' %}
{% block content %}
<h1 class="display-6 text-center">Submissions for "{{ assignment.title }}"</h1>
{% if submissions %}
    <ul class="list-group">
        {% for submission in submissions %}
            <li class="list-group-item">
                <div class="row">
                    <div class="col d-flex justify-content-between">
                        <span>{{ submission.student.first_name }} {{ submission.student.last_name }}</span>
                        <span>{{ submission.submitted_at }}</span>
                        <span>
                            {% if submission.score %}
                                {{ submission.score }}
                            {% else %}
                                --
                            {% endif %}
                            /
                            {{ submission.assignment.points }}
                        </span>
                        <a class="btn btn-primary" href="{% url 'course_management:gradeSubmission' submission.id %}">Grade</a>
                    </div>
                </div>
                
            </li>
        {% endfor %}
    </ul>
{% else %}
{# no submissions yet #}
    <div class="alert alert-primary mt-2" role="alert" >
        No one has submitted anything for this assignment yet!
    </div>
{% endif %}

{% endblock %}