{% extends 'main/base.html' %}
{% block body %}

<div class="container-fluid mt-3" style="width: 80%">
    {% if course_list %}
    <div class="container-fluid mt-3" style="width: 95%">
        <h1>Semester Tuition</h1>
        <table class="table table-striped">
            <thead>
              <tr>
                <th scope="col">Course</th>
                <th scope="col">Cost</th>
              </tr>
            </thead>
            <tbody>        
                {% for course in course_list %}
                    <tr>
                        <td>{{ course.department }} {{ course.course_num }} {{ course.course_name }}</td>
                        <td>${{ course.credit_hours }}00.00</td>
                    </tr>
                {% endfor %}
            </tbody>
            <tfoot>
                <tr>
                    <td class="text-end">Total:</td>
                    <td>${{ total }}</td>
                </tr>
                <tr>
                    <td class="text-end">Amount Paid:</td>
                    <td>-${{ paid }}</td>
                </tr>
                <tr>
                    <td class="text-end"><b>Balance:</b></td>
                    <td><b>${{ balance }}</b></td>
                </tr>
            </tfoot>
        </table>
    </div>
    <div class="d-flex mt-3 justify-content-end" style="width: 95%;">
        <a href="#" class="btn btn-success {% if not balance %}disabled{% endif %}" style="width: 15%" tabindex="-1" role="button" aria-disabled="true" data-bs-toggle="modal" data-bs-target="#payModal">Pay</a>
    </div>
    {% else %}
    <div class="alert alert-primary mt-2" role="alert" >
        You are not enrolled in any courses.
    </div>
    {% endif %}
</div>

<!--  Modal attatched -->
<div class="modal modal-xl fade" id="payModal" tabindex="-1" aria-labelledby="modalLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
            <h1 class="modal-title fs-3" id="modalLabel">Pay</h1>
            <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
                This is where you will pay for stuff
            </div>
            <div class="modal-footer">
            <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
            <a href="#" class="btn btn-success" tabindex="-1" role="button" aria-disabled="true" data-bs-target="#payModal">Confirm</a>
            </div>
        </div>
    </div>
</div>
{% endblock %}
