{% load static %}
{% load auth_utils %}
<!DOCTYPE html>
<html>
    <head>
        <link rel="stylesheet" href="{% static 'main/style.css' %}">
        <script src="{% static 'main/onload.js' %}"></script>
        {% include 'main/shared_header.html' %}
        {% block head %}
        {% endblock %}
    </head>
    <body onload="_base_template_onload()">
        <nav class="navbar navbar-expand-lg bg-dark navbar-dark no-print">
            <div class="container-fluid">
                <a class="navbar-brand" href="#">Tarp LMS</a>
                <ul class="navbar-nav me-auto nav-pills">
                    <li class="nav-item">
                        <a class="nav-link" href="{% url 'account:profile' %}">Profile</a>
                    </li>
                    {% if request.user|has_group:"Instructor" %}
                    <li class="nav-item">
                        <a class="nav-link" href="{% url 'course_management:coursesMain' %}">Courses</a>
                    </li>
                    {% elif request.user|has_group:"Student" %}
                    <li class="nav-item">
                        <a class="nav-link" href="{% url 'course_management:studentCourses' %}">Registration</a>
                    </li>
                    {% endif %}
                    <li class="nav-item">
                        <a class="nav-link" href="{% url 'calendar:displaycalendar' %}">Calendar</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="{% url 'dashboard:dashboard' %}">Dashboard</a>
                    </li>
                    {% if request.user|has_group:"Student" %}
                    <li class="nav-item">
                        <a class="nav-link" href="{% url 'payments:tuition' %}">Tuition</a>
                    </li>
                    {% endif %}
                </ul>

                <ul class="nav navbar-nav navbar-right">
                    <li class="nav-item dropstart">
                        <img src="{% static 'BellIcon.png' %}" class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-bs-toggle="dropdown" aria-haspopup="true" aria-expanded="false"
                        </img>
                        <div class="DropDownMenu dropdown-menu" aria-labelledby="navbarDropdown">
                            <a class="WrapClass dropdown-item" href="#">X</a>
                            <a class="WrapClass dropdown-item" href="#">X</a>
                            <a class="WrapClass dropdown-item" href="#">X</a>
                        </div>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="{% url 'authentication:logout' %}">Logout</a>
                    </li>

                </ul>

            </div>
        </nav>
        <div class="container-fluid">
            {% block body %}

            {% endblock %}
        </div>

        <script src="{% static 'main/activepage.js' %}"></script>
    </body>
</html>
