{% load static %}
{% load auth_utils %}
<!DOCTYPE html>
<html>
    <head>
        <script src="{% static 'main/onload.js' %}"></script>
        {% include 'main/shared_header.html' %}
        {% block head %}
        {% endblock %}
    </head>
    <body onload="_base_template_onload()">
        <nav class="navbar navbar-expand-lg bg-dark navbar-dark">
            <div class="container-fluid">
                <a class="navbar-brand" href="{% url 'dashboard:dashboard' %}">
                    <img src="{% get_media_prefix %}favicon.ico" width="30" height="30" class="d-inline-block align-top" alt="">
                    Tarp LMS
                </a>
                <ul class="navbar-nav me-auto">
                    <li class="nav-item">
                        <a class="nav-link" href="{% url 'account:profile' %}">Profile</a>
                    </li>
                    {% if request.user|has_group:"Instructor" %}
                    <li class="nav-item">
                        <a class="nav-link" href="{% url 'course_management:coursesMain' %}">Courses</a>
                    </li>
                    {% elif request.user|has_group:"Student" %}
                    <li class="nav-item">
                        <a class="nav-link" href="{% url 'course_management:studentCourses' %}">Registration</a>
                    </li>
                    {% endif %}
                    <li class="nav-item">
                        <a class="nav-link" href="{% url 'calendar:displaycalendar' %}">Calendar</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="{% url 'dashboard:dashboard' %}">Dashboard</a>
                    </li>
                    {% if request.user|has_group:"Student" %}
                    <li class="nav-item">
                        <a class="nav-link" href="{% url 'payments:tuition' %}">Tuition</a>
                    </li>
                    {% endif %}
                </ul>

                <ul class="nav navbar-nav navbar-right">
                    <li class="nav-item dropstart">
                        <img src="{% static 'BellIcon.png' %}" class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-bs-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                        <div class="DropDownMenu dropdown-menu" aria-labelledby="navbarDropdown">
                            <a class="WrapClass dropdown-item" href="#">X</a>
                            <a class="WrapClass dropdown-item" href="#">X</a>
                            <a class="WrapClass dropdown-item" href="#">X</a>
                        </div>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" id="logout-link" href="{% url 'authentication:logout' %}">Logout</a>
                    </li>

                </ul>

            </div>
        </nav>
        <div class="container-fluid min-vh-100">
            {% block body %}

            {% endblock %}
        </div>

        <div class="container-fluid mt-auto" id="site-footer">
            <footer class="d-flex flex-wrap justify-content-between align-items-center py-2 my-3 border-top">
              <div class="col-md-4 d-flex align-items-center">
                <span class="mb-3 mb-md-0 text-muted">© 2022 Team .GIF</span>
              </div>
              <ul class="nav col-md-4 justify-content-end list-unstyled d-flex">
                <li class="ms-3">
                    <a class="text-muted" href="https://github.com/Team-GIF/team-gif-final-project">
                        <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" fill="gray" class="bi bi-github" viewBox="0 0 16 16">
                            <path d="M8 0C3.58 0 0 3.58 0 8c0 3.54 2.29 6.53 5.47 7.59.4.07.55-.17.55-.38 0-.19-.01-.82-.01-1.49-2.01.37-2.53-.49-2.69-.94-.09-.23-.48-.94-.82-1.13-.28-.15-.68-.52-.01-.53.63-.01 1.08.58 1.23.82.72 1.21 1.87.87 2.33.66.07-.52.28-.87.51-1.07-1.78-.2-3.64-.89-3.64-3.95 0-.87.31-1.59.82-2.15-.08-.2-.36-1.02.08-2.12 0 0 .67-.21 2.2.82.64-.18 1.32-.27 2-.27.68 0 1.36.09 2 .27 1.53-1.04 2.2-.82 2.2-.82.44 1.1.16 1.92.08 2.12.51.56.82 1.27.82 2.15 0 3.07-1.87 3.75-3.65 3.95.29.25.54.73.54 1.48 0 1.07-.01 1.93-.01 2.2 0 .21.15.46.55.38A8.012 8.012 0 0 0 16 8c0-4.42-3.58-8-8-8z"/>
                        </svg>
                    </a>
                </li>
            </footer>
        </div>
        <script src="{% static 'main/activepage.js' %}"></script>
    </body>
    
</html>
