{% extends 'main/base.html' %}
{% block body %}
    {# card div just to make it look nice for now #}
    <div class="row">
    <div class="col-md-4 offset-md-4">
    <div class="card">
    <div class="card-body">
        {% if img_obj %}
            <div class="text-center">
                <img class="rounded img-thumbnail" src="{{ img_obj.image.url}}">
            </div>
        {% endif %}

        <form method="post" enctype="multipart/form-data">
            {% csrf_token %}
            {{ form.as_p }}
            <button type="submit" class="btn btn-primary">Upload</button>
        </form>
    </div>
    </div>
    </div>
    </div>

{% endblock %}