{% extends 'main/base.html' %}
{% block body %}

{% comment %} Dashboard Container {% endcomment %}
<div id="dashboard-container" class="container-fluid">
<div class="row">
    
    {% comment %} Course Card Display {% endcomment %}
    <div id="course-card-container" class="container text-center col-md-8">
        <h3 class="mt-2">Courses</h3>
        {% if course_list %}
            <div class="row row-cols-3">
                {% for course in course_list %}
                    <div class="p-3 col">
                        <div class="card btn" style="width: 18rem;">
                            <div class="card-body">
                            <h5 class="card-title">{{ course.department }} {{course.course_num }}</h5>
                            <h6 class="card-subtitle mb-2 text-muted">{{ course.course_name }}</h6>
                            <p class="card-text">{{ course.instructor.first_name }} {{ course.instructor.last_name }}
                                            <br>{{ course.getFormattedCourseDays }} {{ course.meeting_start_time }} - {{ course.meeting_end_time }}
                                            <br>{{ course.meeting_location }}</p>
                            </div>
                        </div>
                    </div>
                {% endfor %}
            </div>
        {% else %}
            <div class="alert alert-primary mt-2" role="alert" >
                You don't have any courses assigned to you.
            </div>
        {% endif %}
    </div>

    {% comment %} Assignment To-Do List {% endcomment %}
    <div id="to-do-container" class="container col text-center">
        <h3 class="mt-2">To-Do List</h3>
        {% if assignments %}
        <ul id="to-do-assignment-group" class="list-group-flush">
            {% for assignment in assignments %}
                <a href="#" class="list-group-item flex-column align-items-start">
                    <div class="d-flex w-100 justify-content-between">
                        <h5 class="mb-1">{{ assignment.title }}</h5>
                        <small>{{ assignment.getUserFriendlyDueDate }}</small>
                    </div>
                    <small> {{ assignment.course }} </small>
                </a>
            {% endfor %}
        </ul>
        {% else %}
            <div class="alert alert-primary mt-2" role="alert" >
                Looks like there's nothing to do!
            </div>
        {% endif %}
    </div>

</div>
</div>

{% endblock %}