.DropDownMenu {
    max-width: 8rem;
    min-width: 8rem;
    margin-top: 20rem;
}

.dropdown-item {
    white-space: pre-wrap;
}

/* Used to hide the navbar when printing the page */
@media print
{    
    .no-print, .no-print *
    {
        display: none !important;
    }
}