/********** Root Styling ************/
:root {
    --bs-blue: #2359AF;
    --bs-indigo: #6610f2;
    --bs-purple: #6f42c1;
    --bs-pink: #d63384;
    --bs-red: #E84855;
    --bs-orange: #fd7e14;
    --bs-yellow: #F6AE2D;
    --bs-green: #198754;
    --bs-teal: #20c997;
    --bs-cyan: #0dcaf0;
    --bs-black: #212529;
    --bs-white: #fff;
    --bs-gray: #6c757d;
    --bs-gray-dark: #343a40;
    --bs-gray-100: #f8f9fa;
    --bs-gray-200: #e9ecef;
    --bs-gray-300: #dee2e6;
    --bs-gray-400: #ced4da;
    --bs-gray-500: #adb5bd;
    --bs-gray-600: #6c757d;
    --bs-gray-700: #495057;
    --bs-gray-800: #343a40;
    --bs-gray-900: #212529;
    --bs-primary: #358CE6;
    --bs-secondary: #6c757d;
    --bs-success: #358CE6;
    --bs-info: #0dcaf0;
    --bs-warning: #F6AE2D;
    --bs-danger: #E84855;
    --bs-light: #f8f9fa;
    --bs-dark: #212529;
    --bs-primary-rgb: 13, 110, 253;
    --bs-secondary-rgb: 108, 117, 125;
    --bs-success-rgb: 25, 135, 84;
    --bs-info-rgb: 13, 202, 240;
    --bs-warning-rgb: 255, 193, 7;
    --bs-danger-rgb: 220, 53, 69;
    --bs-light-rgb: 248, 249, 250;
    --bs-dark-rgb: 33, 37, 41;
    --bs-white-rgb: 255, 255, 255;
    --bs-black-rgb: 0, 0, 0;
    --bs-body-color-rgb: 33, 37, 41;
    --bs-body-bg-rgb: 255, 255, 255;
    --bs-font-sans-serif: system-ui, -apple-system, "Segoe UI", Roboto, "Helvetica Neue", "Noto Sans", "Liberation Sans", Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
    --bs-font-monospace: SFMono-Regular, Menlo, Monaco, Consolas, "Liberation Mono", "Courier New", monospace;
    --bs-gradient: linear-gradient(180deg, rgba(255, 255, 255, 0.15), rgba(255, 255, 255, 0));
    --bs-body-font-family: var(--bs-font-sans-serif);
    --bs-body-font-size: 1rem;
    --bs-body-font-weight: 400;
    --bs-body-line-height: 1.5;
    --bs-body-color: #212529;
    --bs-body-bg: #fff;
    --bs-border-width: 1px;
    --bs-border-style: solid;
    --bs-border-color: #dee2e6;
    --bs-border-color-translucent: rgba(0, 0, 0, 0.175);
    --bs-border-radius: 0.375rem;
    --bs-border-radius-sm: 0.25rem;
    --bs-border-radius-lg: 0.5rem;
    --bs-border-radius-xl: 1rem;
    --bs-border-radius-2xl: 2rem;
    --bs-border-radius-pill: 50rem;
    --bs-link-color: #0d6efd;
    --bs-link-hover-color: #0a58ca;
    --bs-code-color: #d63384;
    --bs-highlight-bg: #fff3cd;
}
  
.DropDownMenu {
    max-width: 8rem;
    min-width: 8rem;
    margin-top: 20rem;
}

.dropdown-item {
    white-space: pre-wrap;
}
/*********** Navbar Styling  ************/
.nav-link
{
    color: #FFFFFF;
}

.nav-link:not(.active), .navbar-brand
{
    font-weight: 300;
}

.nav-link.active
{
    font-weight: 500;
    color: #358CE6 !important;
}

/*********** Footer Styling *************/

/*********** Global Font Options ***********/
h1,h2,h3
{
    font-weight: 350;
    color: #1C1D1F;
}

h4, h5
{
    color: #1C1D1F;
    font-weight: 375;
}

p, .small
{
    color: #1C1D1F;
}

a.list-group-item:hover
{
    color: #2359AF;
}

/********* Alert Styling ********/
.alert-warning
{
    background-color: rgba(53, 139, 230, 0.1) !important;
    border: none;
    color: #1C1D1F;
}

/********* Course Cards *********/

.course-card
{
    box-shadow: 0px 0px 10px rgba(0, 3, 64, 0.2);
    background-color: rgba(57, 133, 255, 0.15) !important;
    background-image: var(--bs-gradient) !important;
    border: none;
}

.course-card .card-text
{
    color: #2c3034; 
}

.course-card .card-subtitle
{
    color: #3c5172 !important;
}

.course-card h4
{
    color: #2359AF;
}

.course-card:hover
{
    background-color: rgba(57, 133, 255, 0.50) !important;
    background-image: var(--bs-gradient) !important;
}


/********* Dashboard To-Do List ***********/
.to-do-item:hover
{
    background-color: rgba(53, 139, 230, 0.05) !important;
    color: 2359AF !important;
    border-radius: 5px;
}

.to-do-item h5
{
    color: #2359AF !important;
}

/*********** Course Page Styling **********/
#courseTitle a h1
{
    color: #2359AF !important;
}

/********* Global Button Styling **********/

.btn-primary
{
    background-color: #358CE6;
}

.btn-success
{
    background-color: #358CE6;
}

.btn-outline-primary
{
    border-color: #2359AF;
    color: #2359AF;
}

/********* Global Accordion Styling *********/

.accordion-button:not(.collapsed)
{
    box-shadow: none;
    background-color: rgba(57, 133, 255, 0.30) !important;
}

.accordion-button:focus
{
    box-shadow: none;
}

.accordion-button
{
    background-color: rgba(57, 133, 255, 0.15) !important;
    background-image: var(--bs-gradient) !important;
}

/********* Assignment Tags ************/

.bg-danger
{
    background-color: #E84855 !important;
}

.bg-info
{
    background-color: #2359AF !important;
}

/********* Calendar ************/

/* Course Events */
.fc-event-title-container
{
    background-color: rgba(57, 133, 255, 0.25) !important;
    background-image: var(--bs-gradient) !important;
}

/* Assignments */
.fc-daygrid-dot-event
{
    color: #358CE6;
}

/* Today Box Color */
.fc-day-today
{
    background-color: rgba(53, 139, 230, 0.05) !important;
}

/* Today Button */
.fc-today-button
{
    background-color: rgba(57, 133, 255, 1) !important;
    background-image: var(--bs-gradient) !important;
    border: none !important;
}

.fc-today-button:focus
{
    border: none !important;
    box-shadow: none !important;
}

/* Month Controls */
.fc-prev-button, .fc-next-button
{
    background-color: rgba(57, 133, 255, 1) !important;
    background-image: var(--bs-gradient) !important;
    border: none !important;
}

.fc-prev-button:focus, .fc-next-button:focus
{
    box-shadow: 0px 0px 5px rgba(35, 89, 175, 1.0) !important;
}

/* Day Labels */
.fc-col-header-cell-cushion
{
    color: #2359AF !important;
    text-decoration: none;
}

/* Day Label Boxes */
.fc-col-header-cell
{
    background-color: rgba(53, 139, 230, 0.25) !important;
}

/* Day Number */
.fc-daygrid-day-number
{
    color: #2359AF !important;
    text-decoration: none;
}

/************ Profile *************/
.profile-header
{
    background-color: rgba(53, 139, 230, 0.1);
}

/************ Course Registration *************/
#course-search-controls h4
{
    font-weight: 400;
}

.course-lead
{
    font-weight: 400;
}